<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Public:</strong>
  <%= @article.public %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @article.user.name %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Atras', articles_path %>
